.App {
  text-align: center;
  font-family: "Arial", sans-serif;
  background: #f9f9f9;
  margin: 0;
  padding: 40px;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  box-shadow: 0 2px 3px #c8d0d8;
}

th,
td {
  text-align: left;
  padding: 12px 15px;
  border-bottom: 1px solid #dddddd;
}

th {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
}

tbody tr:hover {
  background-color: #f2f2f2;
}

.pagination {
  margin-top: 20px;
}

.pagination button {
  padding: 5px 15px;
  margin-right: 5px;
  border: none;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 3px #c8d0d8;
  cursor: pointer;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #e8e8e8;
}

input[type="checkbox"] {
  cursor: pointer;
}

input[type="text"],
input[type="email"] {
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 4px;
  margin-right: 5px;
}

button {
  padding: 5px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 5px;
}

button:hover {
  opacity: 0.8;
}

.edit-button {
  background-color: #4caf50;
  color: white;
}

.delete-button {
  background-color: #f44336;
  color: white;
}

.search-bar {
  padding: 10px;
  margin-top: 10px;
  width: 75%;
  border-radius: 10px;
  border: 2px solid #ddd;
}

.delete-selected-button {
  background-color: #ff1100;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 2px 3px #c8d0d8;
  float: right;
  margin-top: 10px;
  cursor: pointer;
}
